Checks: >-
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  clang-analyzer-*,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  concurrency-*,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*,
  portability-*
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src|tests)/'
FormatStyle: file
