Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src|tests)/'
FormatStyle: file
CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'i|j|k|id|db'
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
    value: '0;1;2;3;4;8;10;16;32;64'

